:root{
	--base: #AF315BFF !important;
	--selected: #d43e70 !important;
	--gray: #e5e5e5 !important;
}
#header{
	width: 880px !important;
	position: fixed !important;
	left: 50%;
	right: 50%;
	top: 0;
	transform: translate(-50%,0);
	background-color: #ffffff;
}
a{
	color: var(--base)  !important;
}
#banner-slogan{
	background:none  !important;
	color:var(--base) !important;
}
#banner-overlay{
	background:none  !important;
}
#banner img{
	position: relative !important;
	z-index: -1 !important;
}
#banner{
	margin-top: 121px !important;
	border: 1px solid var(--gray)  !important;
	border-bottom: 20px solid var(--base)  !important;
	height: 140px  !important;
}
#search-button input{
	background-color: var(--base)  !important;

}
#search-button{
	border: 1px solid var(--selected)  !important;
}
#top-icons{
	overflow: visible !important;
}
#bx_incl_area_3{
	position: absolute;
	left: 125px;
	top: -23px;
}
#header .news-list{
	display: flex;
	margin-top: -23px !important;
}
#top-icons a{
	margin-right: 16px !important;
}

.home-icon,.search-icon,.feedback-icon{
	background-image: none !important;
}

/* Соц сети ---------------------------------------------------- */
/*.base_color{*/
/*	fill: #2b797d !important;*/
/*}*/
/*#youtube:hover .base_color{*/
/*	fill:#FF0000 !important;*/
/*}*/
/*#facebook:hover .base_color{*/
/*	fill:#3B5998 !important;*/
/*}*/
/*#instagram:hover .base_color{*/
/*	fill:url(#paint0_linearheader) !important;*/
/*}*/
/*#telegram:hover .base_color{*/
/*	fill:url(#telega_bg_gradientheader) !important;*/
/*}*/
/*#ok:hover .base_color{*/
/*	fill:#F68634 !important;*/
/*}*/
/*#vk:hover .base_color{*/
/* 	fill:#4C6C91 !important;*/
/*}*/
/* Соц сети ----------------------------------------------------- */
#bx_incl_area_3{
	display: flex;
}
#top-menu,#top-menu-inner{
	background:none  !important;
	background-color: var(--base)  !important;
}
#top-menu,#top-menu-inner a{
	color: white  !important;
}
#horizontal-multilevel-menu ul{
	background: var(--selected)  !important;
}
#horizontal-multilevel-menu li a.root-item-selected{
	background: var(--selected)  !important;
}
#horizontal-multilevel-menu li a.root-item{
	padding-bottom: 7px  !important;
}
#horizontal-multilevel-menu li ul li{
	border-bottom:1px solid white  !important;
}
#horizontal-multilevel-menu li ul li:hover{
	background-color: var(--base)  !important;
}
#horizontal-multilevel-menu li a.root-item{
	background-color: var(--base)  !important;
}
#horizontal-multilevel-menu li.item-selected{
	background-color: var(--base)  !important;
}
#horizontal-multilevel-menu li a.root-item:hover{
	background-color: var(--selected)  !important;
}
#footer{
	background:none  !important;
	background-color:#dddcdc  !important;
}
#search-button{
	border: 1px solid var(--selected) !important;
	background-color: var(--base) !important;
}
.catalog-item-price{
	background-color: var(--base)  !important;
}
.root-item:hover{
	background-color: var(--selected)  !important;
}
.product .product-overlay{
	background:none  !important;
}
.product{
	box-sizing:border-box !important;
	height:95px  !important;
	border:1px solid var(--gray)  !important;
	border-bottom:10px solid var(--base)  !important;
}
.information-block{
	border:1px solid var(--gray)  !important;
}
.information-block-inner, .top, .bottom{
	background:none  !important;
	border:none  !important;
}
.content-block .content-block-inner{
	background:#fffae3  !important;
}
/*a.home-icon, a.search-icon,  a.feedback-icon{*/
/*	background-image: none !important;*/
/*}*/

/*Адаптив ---------------------------------------------------------------------------------- */

.content-block:first-of-type{
	display:block !important;
}
#workarea #search div.rounded-box{
	width:70%  !important;
}
#workarea #search {
	width:70%  !important;
}
#workarea #search div.search-inner-box input{
	width:99%  !important;
}
#search div.search-inner-box{
	width:100% !important;
}
@media(max-width:900px){
	body{
		padding:0 15px !important;
	}
	#header{
		width:100% !important;
	}
	#top-menu{
		width:calc(100% - 50%) !important;
	}
	#top-icons{
		width:131px !important;
		left: calc(100% - 131px) !important;
		right:230px !important;
	}
	#top-menu-inner{
		padding:0 !important;
	}
	#horizontal-multilevel-menu li ul li{
		margin-right:185px !important;
	}
	#horizontal-multilevel-menu{
		display:flex !important;
		justify-content: right !important;
	}
	#banner{
		box-sizing: border-box  !important;
		width:100% !important;
		max-width:878px !important;
	}
	#content{
		box-sizing:border-box !important;
		display:flex !important;
		justify-content: space-between !important;
		width:100% !important;
		max-width:878px !important;
	}
	#sidebar{
		width:100% !important;
		max-width:185px !important;
		margin-right:25px !important;
	}
	#search{
		width:140px !important;
	}
	#search div.rounded-box{
		width:80px !important;
	}
	.search-inner-box{
		width:60px !important;
	}
	#workarea{
		width:100% !important;
		max-width:650px !important;
	}
	#workarea p{
		margin-right:15px !important;
	}
	#footer{
		width:100% !important;
		max-width:878px !important;
	}
	#banner img{
		height: 95% !important;
	}
}
@media(max-width:868px){
	.product-list{
		display:flex !important;
		justify-content: space-between !important;
		flex-wrap:wrap !important;
	}
	.product-desc{
		width:150px !important;
		padding-right:0px  !important;
	}
	.product-desc p,b{
		margin-left:0px  !important;
		margin-right:0px  !important;
	}
	.product-desc b{
		margin-left:0px  !important;
		width:100% !important;
		max-width:none !important;
	}
	div.product{
		width:260px !important;
		margin-right:0px !important;
	}
}
@media(max-width:868px){
	#banner-slogan{
		font-size:1.65em  !important;
	}
}
@media(max-width:770px){
	div.product{
		width:225px !important;
		padding-right:0px  !important;
	}
	div.product-image{
		background-position-x: -30px !important;
	}
	#banner-image div{
		width:100% !important;
		max-width: 316px !important;
	}
	#banner-image{
		max-width: 316px !important;
	}
	#banner-slogan{
		padding-left:30px !important;
	}
	#top-menu-inner{
		margin-left:0 !important;
	}
}
@media(max-width:699px){
	div.product{
		width:320px !important;
		margin-right:0px !important;
	}
	div.product-image {
		background-position-x: 0px !important;
	}
	a.product-desc{
		padding-right:40px  !important;
	}
}
@media(max-width:675px){
	#logo img{
		width:65% !important;
		padding-right:70px !important;
	}
	.feedback-icon{
		margin-right:0px !important;
	}
	#header{
		margin-bottom:35px !important;
	}
	#top-menu{
		width:100% !important;
		top:90px !important;
	}
	#horizontal-multilevel-menu{
		justify-content: center !important;
	}
	#top-icons{
		top:50px !important;
	}
	#banner-image div{

		width:100% !important;
		max-width: 256px !important;
	}
	#banner-image{
		max-width: 256px
	}
	#banner-slogan{
		font-size:1.4em  !important;
	}
}
@media(max-width:600px){
	#copyright,#footer-design,.footer-links{
		position:relative !important;
		right:0 !important;
		top:0 !important;
		left:0 !important;
		text-align: center !important;
		margin:10px 0 !important;
	}
	.footer-links{
		width: fit-content !important;
	}
	#footer{

		display:flex !important;
		flex-direction:column !important;
		justify-content: center !important;
		align-items: center !important;
		text-align: center !important;
		height:fit-content !important;
	}
}
@media(max-width:580px){
	#horizontal-multilevel-menu{
		display: block !important;
		background-color: var(--base) !important;
	}
}
@media(max-width:575px){

	#content{
		flex-direction: column  !important;
	}
	#workarea h3{
		text-align:center !important;
	}
	.information-block{
		display:none !important;
	}
	#sidebar{
		max-width:none !important;
		display: flex !important;
		flex-direction: column !important;
	}
	#sidebar h3{
		text-align:center !important;
	}
	#sidebar .content-block:nth-of-type(2){
		order:-1 !important;
		margin-top:20px !important;
	}
	#search{
		width:100% !important;
	}
	#search div.rounded-box{
		width:70% !important;
	}
	#search div.search-inner-box input{
		width:100%  !important;
	}
	.search-inner-box{
		width:100% !important;
	}
	#banner{
		display:none !important;
	}
	.product-list{
		justify-content: center !important;
	}
}
@media(max-width:575px){
	a.product-desc{
		padding-right: 0px  !important;
	}
}
#horizontal-multilevel-menu li a.root-item-selected{
	margin-bottom: -1px !important;
}
@media(max-width:580px){
	#horizontal-multilevel-menu{
		display: block !important;
		background-color: var(--base) !important;
	}
}
@media(max-width:470px){

	#sidebar .content-block:nth-of-type(2){
		margin-top:30px !important;
	}
}

/* Форма обратной связи ------------------------------------------------------ */
#comp_f09d3757ae8e2a500e8bfbb9cb096dbf{
	position: absolute;
	right: -425px;
	top: -4px;
}
#call-btn{
	cursor: pointer;
	position: absolute;
	width: 150px;
	font-size: 16px;
	right: -428px;
	top: -5px;
	background-color: var(--base);
	color: white;
	border: 1px solid var(--selected);
	border-radius: 3px;
}
.pos{
	position: fixed;
	left: 50%;
	right: 50%;
	top: 430%;
	bottom: 50%;
	z-index: 1000;
}
#call-form{
	transform: translate(-50%, -50%) !important;
	position: relative;
	width: 305px;
	background: #dcdcdc;
	padding: 15px;
}
.form-hiden{
	display: none;
}
#call-close{
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: black;
	right: 10px;
	top: 10px;
}
.call_text{
	font-size: 1.5em !important;
}
.user_info{
	width: fit-content;
	display: flex;
	flex-direction: column;
	max-height: 50px;
}
.user_info input{
	width: 95%;
	margin-top: 5px;
}
.cuptcha{
	margin-top: 10px;
}
.cuptcha input{
	width: 95%;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* блок новостей ---------------------------------------------*/

.bg_news{
	width: 100%;
	max-width: 878px;
	margin: 0 auto;
	/*background-color: #e5e5e5;*/
}
.bg_news_block_inner h3{
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
}
.bg_news_block_inner .block-list{
	display: flex;
	justify-content: space-between;
}
.bg_news_block_inner .block-list .plate_hide{
	position: relative;
	flex: 32.50% 0;
	overflow: hidden;
 }
.news_name{
	text-align: center;
	margin-bottom: 10px;
}
.news_plate a{
	color: white !important;

}
.news_plate{
	box-sizing: border-box;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative;
	bottom: -100%;
	height: 100%;
	min-height: 200px;
	background-color: var(--base);
	transition: bottom .5s ease;

}
.bg_news_block_inner .block-list .plate_hide:hover .news_plate{
	bottom: 0;
}
.news_content{
	background-color: #f1f1f1;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	/*justify-content: center;*/
}
.news_content img{
	/*width: fit-content;*/
	height: fit-content;
	max-height: 150px;
}
.news_content p{
	font-size: 15px;
	text-align: center;
}
.img{
	display: flex;
	justify-content: space-around;
}
